* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.description{
    color: rgba(19, 19, 24, 0.70);
}
/* Container */
.container {
    max-width: 1500px;
    margin: 0 auto;
}


/* Navbar start */
.navbar-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-text {
    font-size: 30px;
    font-weight: 700;
}

.logo-color-text {
    color: #FF5400;
}

.ul-menu {
    display: none;
    gap: 20px;
}

.ul-menu li {
    list-style: none;
    transition-duration: 3000;
    transition: .3s all ease-in-out;
    cursor: pointer;

    font-size: 17px;
}

.ul-menu li:hover {
    color: #FF5400;
}

.menu-icon {
    display: block;
    width: 30px;
}

@media screen and (min-width: 600px) {
    .menu-icon {
        display: none;
    }

    .ul-menu {
        display: flex;
        
    }
}

/* Hero start */

.hero-wrapper {
    background-image: url('../assets/hero-bg.png');
    background-color: rgba(0, 0, 0, 0.469);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 50px;
    border-radius: 16px;
    margin: 10px auto;
}

.hero-title {
    font-size: 40px;
    color: white;
    text-align: center;
    font-weight: 600;
    margin-bottom: 16px;
}

.hero-description {
    color: white;
    text-align: center;
    font-size: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.hero-input-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin-top: 50px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    padding: 10px;
    width: fit-content;
    margin: 50px auto 0;
    
}

.hero-input {
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    outline: none;
    border: none;
    color: rgba(19, 19, 24, 0.50);
}

.find-btn {
    background-color: #FF5400;
    color: white;
    border: none;
}



@media screen and (min-width: 600px) {
    .hero-wrapper {
        padding: 100px;
    }
}

/* Popular start */

.popular-wrapper {
    padding: 16px;
}

.popular-content-wrapper {
    margin-bottom: 40px;
}

.popular-title {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 16px;
}

.popular-ul-menu {
    margin: 20px 0 20px 30px;
    color: rgba(19, 19, 24, 0.70);
}

.read-more-btn {
    background-color: #FF5400;
    color: white;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-top: 20px;
}

.popular-img-wrapper {
    margin: 0 auto;
    text-align: center;
}

.popular-img {
    width: 100%;
    max-width: 400px;
}

@media screen and (min-width: 600px) {
    .popular-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .popular-content-wrapper {
        flex: 1;
    }

    .popular-img-wrapper {
        flex: 1;
        display: flex;
        justify-content: center;
    }
}


/* Destination start */

.destination-wrapper {
    padding: 0 10px;
}

.destination-title {
    font-size: 30px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 16px;
    margin-top: 50px;
}

.destination-description {
    text-align: center;
    font-size: 15px;
    max-width: 500px;
    margin: 0 auto 50px;
}

.card-style {
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: white;
    font-weight: 600;
}

.dest-img-first-wrapper {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: grid;
    gap: 10px;
}

.dest-img-second-wrapper {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.dest-img-third-wrapper {
    margin: 0 auto;
    text-align: center;
    width: 100%;
    display: grid;
    gap: 10px;
    margin-top: 10px;
}

.maldives {
    background-image: url('../assets/maldives.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    height: 300px;
}

.indonesia {
    background-image: url('../assets/indonesia.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    height: 300px;
}

.srilanka {
    background-image: url('../assets/srilanka.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    height: 300px;
}

.north-america {
    background-image: url('../assets/america.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    height: 300px;
}

.kashmir {
    background-image: url('../assets/kashmir.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    height: 300px;
}

.bangladesh {
    background-image: url('../assets/bangladesh.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    height: 300px;
}

.bandarban {
    background-image: url('../assets/bandarban.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    height: 300px;
}

.img-style {
    width: 100%;
    object-fit: cover;
    max-height: 290px;
    border-radius: 16px;
}


@media screen and (min-width: 600px) {
    .dest-img-first-wrapper {
        grid-template-columns: repeat(2, 1fr);
        padding-bottom: 10px;
    }

    .dest-img-second-wrapper {
        /* grid-template-columns: repeat(3, 1fr); */
        grid-template-columns: 1fr 1.3fr 1fr;
        padding-bottom: 10px;
    }

    .dest-img-third-wrapper {
        padding-bottom: 10px;
        grid-template-columns: 1fr 1.2fr;
    }
}

/* Choose start */

.choose-title {
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 16px;
}

.choose-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.choose-hotel {
    width: 100%;
    max-width: 573px;
    padding: 10px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
}

.choose-location {
    width: 100%;
    max-width: 573px;
    padding: 10px;
    height: 284px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.choose-price {
    width: 100%;
    max-width: 573px;
    height: 284px;
    padding: 10px;
    flex-shrink: 0;
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
}

.choose-img {
    margin: 20px 0;
    padding-left: 20px;
}

.choose-headding {
    margin-bottom: 10px;
    color: #131318;
    font-size: 24px;
    font-weight: 800;
    padding-left: 20px;

}

.choose-description {
    color: #5A5A5D;
    font-size: 16px;
    padding-left: 20px;
}

.choose-conteiner1 {
    margin: 0 auto;

}

.choos-description {
    text-align: center;
    font-size: 15px;
    max-width: 500px;
    margin: 0 auto;
}

.choose-price {
    margin: 28px;
    padding: 20px;
}

.choose-hotel {
    margin: 28px;
    padding: 20px;
}

.choose-location {
    margin: 28px;
    padding: 20px;
}

.choos-content-wrapper {
    justify-content: center;
    gap: 16px;
    margin-top: 50px;
    padding: 10px;
}

/* Newsletter start */

.newsletter-wrapper {
    display: grid;
    gap: 16px;
    margin: 50px 0px;
}

.form-section {
    border: 1px solid #FF5400;
    width: 100%;
    padding: 32px;
    border-radius: 8px;
    margin: 0 auto;
}

.news-title {
    margin-bottom: 5px;
}

.news-desk {
    font-size: 15px;
    width: 300px;
    margin-bottom: 30px;
    color: #5A5A5D;
}

.news-input {
    outline: none;
    padding: 15px 10px;
    border: 1px solid rgba(128, 128, 128, 0.417);
    display: block;
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
    background: #1313180D;
}

.subscribe-btn {
    background-color: #FF5400;
    color: white;
    padding: 13px;
    width: 200px;
    border-radius: 8px;
    outline: none;
    border: none;
    margin-top: 20px;
    width: 100%;
}

.image-section {
    background-image: url('/assets/news-bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
    min-height: 300px;
    position: relative;
}

.discount-card {
    background: #FF5400;
    width: fit-content;
    color: white;
    padding: 10px 25px;
    border-radius: 8px;
    position: absolute;
    bottom: 50px;
    right: 50px;
    transform: rotate(-15deg);
}

.travel-text {
    display: block;
    text-align: center;
}

.discount-percentage {
    font-size: 20px;
    margin-top: 5px;
    display: block;
    font-weight: 600;

}

@media screen and (min-width: 600px) {
    .newsletter-wrapper {
        grid-template-columns: 1fr 1.5fr;
    }
}

/* Footer start */

.footer-wrapper {
    background: #1313180D;
    padding: 100px 20px;
}

.footer-logo-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.footer-logo-text {
    font-size: 20px;
    font-weight: 700;
}

.footer-desc {
    max-width: 500px;
    margin: 30px auto;
    text-align: center;
    color: #5A5A5D;
}

.social-icon-wrapper {
    text-align: center;
    margin: 0 auto;
}

.hr-line {
    border: 1px solid #13131812;
    max-width: 500px;
    margin: 20px auto 30px;
}

.copyright {
    text-align: center;
    color: #131318;

}